input, textarea, button
  line-height: 2.8
  font-size: 16px
  font-weight: 500
  font-family: 'Nunito', sans-serif
  border: 1px solid var(--border-color)
  border-radius: 15px
  padding: 0 15px
  margin: 5px 0
  outline: none
  -webkit-appearance: none

textarea
  resize: none
  width: 100%
  line-height: 1
  padding: 15px

input:not(.input--active):not([type="checkbox"]):focus, textarea:focus
  border-width: 1.5px
  border-color: var(--primary-color)
  margin: 4.5px -0.5px

input::placeholder, textarea:placeholder
  color: var(--border-color)
  font-weight: 400

.u-rounded
  border-radius: 50px

input[type="submit"], button
  cursor: pointer
  background-color: white
  font-weight: 600

  &.input--active
    background-color: var(--primary-color)
    color: white

.label--large
  font-size: 20px
  font-weight: 600
  margin-top: 20px

.switch 
  position: relative
  padding-right: 20px
  font-size: 14px
  line-height: 2

.switch input 
  opacity: 0
  width: 0
  height: 0
  border: none
  margin: 0

.slider 
  position: absolute
  width: 42px
  height: 23px
  cursor: pointer
  top: 0
  right: 0
  bottom: 0
  margin: auto
  background-color: #ccc
  border-radius: 15px
  -webkit-transition: .4s
  transition: .4s

.slider:before 
  position: absolute
  content: ""
  height: 18px
  width: 18px
  left: 3px
  bottom: 3px
  background-color: white
  border-radius: 50%
  -webkit-transition: .4s
  transition: .4s

input:checked + .slider 
  background-color: var(--primary-color)

input:checked + .slider:before 
  -webkit-transform: translateX(17px)
  -ms-transform: translateX(17px)
  transform: translateX(17px)
