#loginPanel
  max-width: 500px
  margin-top: 100px

  @media (min-width: 960px)
    padding: 20px 60px 30px 60px

  h2
    text-transform: none

  p
    color: var(--text-md)
    margin: 25px 0 35px 0
    text-align: justify

  .btnContainer
    text-align: right

    .btn
      display: inline-block